In [53]:
import pandas as pd
import numpy as np

In [54]:
#load image_scores with columns file_path, adult_score, racy_score, mean_score, category, class
image_scores = pd.read_csv('image_scores.csv')
random_state = 42
# set random seed
np.random.seed(random_state)

In [55]:
# add column score with maximum of adult_score and racy_score
image_scores['score'] = image_scores[['adult_score', 'racy_score']].max(axis=1)

invalid_images = image_scores[image_scores['category'] == 'invalid']
invalid_images = invalid_images.sort_values(by='score', ascending=False)
len(invalid_images)

551

In [56]:
# create empty dataframe with columns file_path, score, category, class
dataset = pd.DataFrame(columns=['file_path', 'score', 'category', 'time', 'censored', 'class'])

sorted_invalid_images = invalid_images.copy()

# while there are still invalid images pick i + k images with highest score
i = 0
k = 1
while len(sorted_invalid_images) > 0:
    k = j = min(np.random.randint(1, 5), len(sorted_invalid_images))
    for index, row in sorted_invalid_images.iterrows():
        if j > 0:
            dataset = dataset.append({
                'file_path': row['file_path'],
                'score': row['score'],
                'category': row['category'],
                'time': i+1,
                'censored': 1,
                'class': row['class']
            }, ignore_index=True)
            j -= 1
        else:
            break
    
    # remove i + k images with highest score
    sorted_invalid_images = sorted_invalid_images.iloc[k:]
    i += 1
    
dataset

,file_path,score,category,time,censored,class
0,I:\projets\school\Thesis\images\dataset\invali...,1.000000,invalid,1,1,0
1,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,1,1,0
2,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,1,1,0
3,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,2,1,0
4,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,2,1,0
...,...,...,...,...,...,...
546,I:\projets\school\Thesis\images\dataset\invali...,0.147945,invalid,212,1,0
547,I:\projets\school\Thesis\images\dataset\invali...,0.146699,invalid,212,1,0
548,I:\projets\school\Thesis\images\dataset\invali...,0.146148,invalid,212,1,0
549,I:\projets\school\Thesis\images\dataset\invali...,0.129124,invalid,213,1,0
550,I:\projets\school\Thesis\images\dataset\underw...,0.110730,invalid,214,1,1

In [57]:
# group by time
grouped_dataset = dataset.groupby('time')
grouped_dataset.describe()

     score                                                                  \
     count      mean           std       min       25%       50%       75%
time
1      3.0  0.999999  1.901808e-07  0.999999  0.999999  0.999999  1.000000
2      4.0  0.999999  3.531589e-07  0.999999  0.999999  0.999999  0.999999
3      1.0  0.999998           NaN  0.999998  0.999998  0.999998  0.999998
4      3.0  0.999998  1.170804e-07  0.999998  0.999998  0.999998  0.999998
5      3.0  0.999998  9.957718e-08  0.999998  0.999998  0.999998  0.999998
...    ...       ...           ...       ...       ...       ...       ...
210    1.0  0.315798           NaN  0.315798  0.315798  0.315798  0.315798
211    3.0  0.222704  6.360844e-02  0.177486  0.186337  0.195188  0.245313
212    3.0  0.146931  9.203157e-04  0.146148  0.146424  0.146699  0.147322
213    1.0  0.129124           NaN  0.129124  0.129124  0.129124  0.129124
214    1.0  0.110730           NaN  0.110730  0.110730  0.110730  0.110730


           max
time
1     1.000000
2     0.999999
3     0.999998
4     0.999998
5     0.999998
...        ...
210   0.315798
211   0.295439
212   0.147945
213   0.129124
214   0.110730

[214 rows x 8 columns]

In [58]:
# add valid samples to dataset
valid_images = image_scores[image_scores['category'] == 'valid'].drop(columns=['adult_score', 'racy_score', 'mean_score',])
valid_images['time'] = i+1
valid_images['censored'] = 0
dataset = dataset.append(valid_images, ignore_index=True)
# for index, row in valid_images.iterrows():
#     dataset = dataset.append({
#         'file_path': row['file_path'],
#         'score': row['score'],
#         'category': row['category'],
#         'time': i,
#         'censored': 0,
#         'class': row['class']
#     }, ignore_index=True)
#     j -= 1
dataset

,file_path,score,category,time,censored,class
0,I:\projets\school\Thesis\images\dataset\invali...,1.000000,invalid,1,1,0
1,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,1,1,0
2,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,1,1,0
3,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,2,1,0
4,I:\projets\school\Thesis\images\dataset\invali...,0.999999,invalid,2,1,0
...,...,...,...,...,...,...
3417,I:\projets\school\Thesis\images\dataset\valid\...,0.000000,valid,215,0,1
3418,I:\projets\school\Thesis\images\dataset\valid\...,0.000000,valid,215,0,1
3419,I:\projets\school\Thesis\images\dataset\valid\...,0.000000,valid,215,0,1
3420,I:\projets\school\Thesis\images\dataset\valid\...,0.000000,valid,215,0,1
3421,I:\projets\school\Thesis\images\dataset\valid\...,0.000000,valid,215,0,1

In [59]:
dataset.to_csv('dataset.csv', index=False)

In [60]:
# select invalid samples with mean_score < 0.5
outliers = image_scores[(image_scores['category'] == 'invalid') & (image_scores['mean_score'] < 0.5)].sort_values(by='file_path', ascending=True)
print(len(outliers))
outliers

26

,file_path,adult_score,racy_score,mean_score,category,class,score
37,I:\projets\school\Thesis\images\dataset\invali...,0.487527,0.407497,0.447512,invalid,0,0.487527
48,I:\projets\school\Thesis\images\dataset\invali...,0.222810,0.334982,0.278896,invalid,0,0.334982
53,I:\projets\school\Thesis\images\dataset\invali...,0.048567,0.359229,0.203898,invalid,0,0.359229
112,I:\projets\school\Thesis\images\dataset\invali...,0.053097,0.295439,0.174268,invalid,0,0.295439
114,I:\projets\school\Thesis\images\dataset\invali...,0.111059,0.504727,0.307893,invalid,0,0.504727
169,I:\projets\school\Thesis\images\dataset\invali...,0.409853,0.544536,0.477195,invalid,0,0.544536
296,I:\projets\school\Thesis\images\dataset\invali...,0.018119,0.965128,0.491623,invalid,0,0.965128
325,I:\projets\school\Thesis\images\dataset\invali...,0.042644,0.146148,0.094396,invalid,0,0.146148
330,I:\projets\school\Thesis\images\dataset\invali...,0.041131,0.129124,0.085128,invalid,0,0.129124
543,I:\projets\school\Thesis\images\dataset\invali...,0.165480,0.195188,0.180334,invalid,0,0.195188
547,I:\projets\school\Thesis\images\dataset\invali...,0.102545,0.147945,0.125245,invalid,0,0.147945
248,I:\projets\school\Thesis\images\dataset\invali...,0.129585,0.146699,0.138142,invalid,0,0.146699
253,I:\projets\school\Thesis\images\dataset\invali...,0.283791,0.315798,0.299794,invalid,0,0.315798
254,I:\projets\school\Thesis\images\dataset\invali...,0.350079,0.582155,0.466117,invalid,0,0.582155
385,I:\projets\school\Thesis\images\dataset\invali...,0.180387,0.317492,0.248940,invalid,0,0.317492
494,I:\projets\school\Thesis\images\dataset\invali...,0.472187,0.515903,0.494045,invalid,0,0.515903
537,I:\projets\school\Thesis\images\dataset\invali...,0.355563,0.598627,0.477095,invalid,0,0.598627
47,I:\projets\school\Thesis\images\dataset\underw...,0.210487,0.343129,0.276808,invalid,1,0.343129
86,I:\projets\school\Thesis\images\dataset\underw...,0.377718,0.564941,0.471329,invalid,1,0.564941
94,I:\projets\school\Thesis\images\dataset\underw...,0.394160,0.562680,0.478420,invalid,1,0.562680
108,I:\projets\school\Thesis\images\dataset\underw...,0.059964,0.398016,0.228990,invalid,1,0.398016
187,I:\projets\school\Thesis\images\dataset\underw...,0.001985,0.990967,0.496476,invalid,1,0.990967
200,I:\projets\school\Thesis\images\dataset\underw...,0.016707,0.110730,0.063718,invalid,1,0.110730
311,I:\projets\school\Thesis\images\dataset\underw...,0.031204,0.177486,0.104345,invalid,1,0.177486
328,I:\projets\school\Thesis\images\dataset\underw...,0.011682,0.970321,0.491001,invalid,1,0.970321
488,I:\projets\school\Thesis\images\dataset\underw...,0.014827,0.880355,0.447591,invalid,1,0.880355

In [61]:
outliers.iloc[0]['file_path']

'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\BuzzFix  Why Ranveer Singh s Masculinity Redefining Nude Shoot Does Not  Insult Women s Modesty.jpg'

In [62]:
paths = list(outliers['file_path'])
paths.sort()
paths

['I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\BuzzFix  Why Ranveer Singh s Masculinity Redefining Nude Shoot Does Not  Insult Women s Modesty.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Emma Watson Nude (4 Photos)   #TheFappening.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Fashion Nova showcases their  Ultra Thong  swimsuit \u2060.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Kunal Verma takes  inspiration  from Ranveer Singh  poses ....jpeg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Lorraine nude.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Nude photo series recaptures the spirit of the original Glastonbury    Creative Boom.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Nudity and social media harm girls.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\The complaint against Ranveer Singh s nude pictures cuts no ice    Filmfare.com.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Tiril Eckhoff Nude Leaked tehfappeningblog.com 1 - fappenPics.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\Water Drops Nude Woman Greeting Card by Bohuslav Jelen.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\You wish...nude females Â» Hottest posts   Sharesome.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\nude46.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\nude51.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\nude52.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\train3 (536).jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\val3 (170).jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\invalid\\val3 (95).jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Elizabeth Olsen Nude ULTIMATE COLLECTION [2022] - Scandal Planet.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Hot And Sexy Nudes.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\How to Take Nude Photos - Sexting Tips   Allure.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Kim Kardashian poses in nude swimsuit and silver jewelry.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Nude Teen Pics  Teen Nudes - Nerd Nudes.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Nude women laughing  portrait stock photo.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Sea Mountain Nude Resort Inn And Spa Hotel in Palm Springs ....jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\The Nude Label   NOT JUST A LABEL.jpg',
 'I:\\projets\\school\\Thesis\\images\\dataset\\underwear\\Urfi Javed   Nude Photoshoot   Ranveer Singh-Urfi Javed s ....jpg']